* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.indented-heading{
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px outset hsl(45deg, 100%, 40%);
}
main{
  background-color:hsl(0deg, 0%, 60%);
  border-top: 5px inset  hsl(0deg, 0%, 40%); 
}
strong{
  color: hsl(160deg, 100%, 30%);
}

@media (min-width: 769px) {

header{
  height:40%;  
}

main{
  height: 60%;
  background-color:hsl(0deg, 0%, 60%);
  border-top: 5px inset  hsl(0deg, 0%, 40%); 
}

.max-width-wrapper{
  width: 600px;
  margin-left: auto;
  margin-right: auto;  
}

.intro-chunk{
  padding-top: 16px;
}
.intro-chunk p{
  width: 300px;
}

.indented-heading{
  padding: 16px 62px;
  margin-left: -32px;
  width: max-content; 
}

.main{
  padding-top: 100px;
}
.card{
  width: 100%;
  background-color: white;
  border-bottom: 5px outset hsl(0deg, 0%, 30%);
  padding-top: 2px;
  margin-top: 48px;
}

p {
  margin: 16px 32px;
}


.title{
  margin: 40px 32px;
}
}

 @media (min-width: 480px) and (max-width: 768px){

  body{
    font-size: 1.25rem;
    line-height: 1.5;
  }
  header{
    padding-top: 16px;
    padding-bottom: 32px;
  }
  
  .intro-chunk>p{
    width: 50%
  }
  p {
    margin: 16px 32px;
  }
  .indented-heading {
    padding: 16px 32px;
    margin-top: -2px;
    width: max-content; 
  }

  .title{
    padding: 32px;
  }
  main{
    padding: 80px 0px;
  }
  .card{
    width: 100%;
    background-color: white;
    border-bottom: 5px outset hsl(0deg, 0%, 40%);
    padding-top: 8px;
      
  }  
}
@media (max-width: 479px) {
  .card p{
    display: none;
  }

  .title{
    font-size: 2.25rem;    
    padding: 32px 64px;
  }
  
  p{
    padding-left: 64px;
    padding-right: 64px;    
    font-size: 1.75rem;
    line-height: 1.4;
  }

  header{
    padding-top: 16px;
    padding-bottom: 32px;
  }

  main{  
    border-top: 8px inset  hsl(0deg, 0%, 60%);
    padding-top: 92px;
  }
  
  .indented-heading {
    font-size: 2rem;
    padding: 32px 64px;  
    border-bottom: 16px outset hsl(45deg, 100%, 40%);
    width: fit-content;
    margin-top: -2px;    
  }

  .card{
    width: 100%;
    background-color: white;
    padding-top: 12px;    
  } 
}